@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body, html{
    background-color: darkgray;
}
header{
    background-color: black;
    padding: 20px;
}
header > h1{
    color: white;
    text-align: center;
    padding: 10vh;
}
section{
    padding: 40px 0px;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    margin: 20vh;
    font-size: 3em;
}
h3{
    text-align: center;
    color: white;
}
p{
    margin-top: 40px;
    width: 400px;
    color: white;
    text-align: justify;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.377);
    padding: 20px;
    margin: 40px;
    text-shadow: 2px 2px 0px black;
}
.escritasite{
    background-color: white;
}
.escritaimg{
    height: 70vh;
    width: 100%;
    box-shadow: inset 10px 10px 10px 5px rgba(0, 0, 0, 0.336);
}
#imagem01{
    background-image: url(../imagens/cachorrinhos02.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
#imagem02{
    background-image: url(../imagens/tsuki.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
#imagem03{
    background-image: url(../imagens/soneca.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
footer{
    background-color: rgb(41, 41, 41);
    padding: 80px;
}
footer > h3{
    text-align: center;
}